/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/****** Header ******/

header {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0 50px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-logo img {
    height: 19px;
}

.navbar .navbar-links ul {
    display: flex;
    list-style: none;
}

.navbar .navbar-links ul li {
    margin: 0 35px;
    padding-top: 20px;
}

.navbar .navbar-links ul li:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 18px;
}
/****** fin Header ******/

/****** Introduction ******/

.introduction {
    padding: 0 50px;
}

.introduction h1 {
    font-size: 22px;
    margin-top: 40px;
}

.introduction p {
    margin-top: 10px;
}

/****** end Introduction ******/

/****** Search Bar ******/

.searchform {
    display: flex;
    flex-direction:row ;
    align-items:center ;
    margin: 20px 0;
    padding: 0 50px;
}

.icon-maps {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.fa-solid {
    color: var(--main-color);
    font-size: 20px;
    background-color:var(--main-bg-color);
}

form input {
    width: 200px;
    height: 45px;
    font-size: 17px;
    outline: none;
    padding-left: 15px;
    border: 1px solid var(--main-bg-color);
}

.searchform-btn {
    width: 120px;
    height: 45px;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.searchform-icon {
    display: none;
}

/****** end Search Bar ******/


/****** Filters ******/

.filters {
    margin: 30px 0;
    padding: 0 50px;
}

.filters, .filters-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.filters h2 {
    font-size: 22px;
}

.filters-btn {
    border: 2px solid var(--main-bg-color);
    border-radius: 30px;
    padding: 15px;
    cursor: pointer;
}

.filters-btn:hover {
    background-color: var(--filter-bg-color);
    border: 2px solid var(--filter-bg-color)
}

.filters-btn span {
    padding-left: 10px;
}

.filters-icon {
    background: none;
}

/****** end Filters ******/

/****** Search Result ******/

.search-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    padding: 0 50px;
}

.icon-info {
    border: 2px solid var(--main-bg-color);
    border-radius: 35px;
    padding: 10px 15px;
    font-size: small;
    background: none;
}
/****** end search Result ******/

/****** Hebergements And Populaires ******/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** end Hebergements And Populaires ******/

/****** Lodging ******/

.lodging {
    width: 65%;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.lodging-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.lodging-link {
    width: 30%;
    border-radius: 20px;
    transition: 0.3s;
    margin-top: 20px;
}

.lodging-link:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.267);
}

.lodging-article {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.lodging-article img{
    width: 100%;
    height: 120px;
    object-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.lodging-features {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.lodging-describe {
    border-radius: 20px;
    padding: 5px;
}

.card-title {
    font-size: 16px;
}

.lodging-describe h3,.lodging-describe p,.lodging-describe i {
    margin : 8px 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.showmore-link {
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
}

/****** end Lodging ******/

/****** Populaires ******/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***** fin Populaires ******/

/****** Activities ******/

.activities {
    width: 100%;
    margin-top: 45px;
}

.activities h2 {
    font-size: 22px;
}

.activities-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.activity-link {
    width: 30%;
    background: var(--main-background-color);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.activity-link:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.267);
}

.activities img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activities h3 {
    font-size: 16px;
    margin: 15px 20px 20px;
}

/****** end Activities ******/

/****** Footer ******/

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 280px;
    background-color: var(--main-bg-color);
    width: 100%;
    margin-top: 50px;
    padding-left: 20px;
}

.footer-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

footer h2 {
    font-size: 16px;
    margin-top: 20px;
}

footer ul {
    padding-left: 0;
    
}

footer li {
    list-style: none;
    padding-top: 10px;
}

footer li:hover{
    color: var(--main-color);
}

/****** end Footer *******/




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    header, .introduction, .searchform, .filters, .search-result, .main-container {
        padding-left: 30px;
    }

    /****** Hébergemetns and populaires Tab ******/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .section-title {
        font-size: 20px;
    }

    /****** end Hébergemetns and populaires Tab ******/

    /****** Lodging Tab ******/

    .lodging {
        width: 100%;
    }

    .lodging-cards{
        display: flex;
        justify-content: space-between;
    }

    .lodging-describe .card-title {
        font-size: 15px;
    }

    .lodging-describe .card-subtitle {
        font-size: 14px;
    }

    .card-rating .fa-star {
        font-size: 13px;
    }

    /****** end Lodging Tab ******/

    /****** Populaires Tab ******/

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** end Populaires Tab ******/

    /****** Activities Tab ******/

    .activities-list {
        padding-top: 20px;
    }
    .activities img {
        height: 250px;
    }

    /****** end Activities Tab ******/

    /****** Footer Tab ******/

    footer {
        gap: 150px;
    }

    /****** end Footer Tab ******/
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 0px;
    }

    /****** Header mob ******/
    header{
        /*display: flex;
        flex-direction: column;*/
        padding: 30px 0;
    }
    
    .navbar{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .navbar-links{
        width: 100%;
    }

    .navbar ul{
        width: 100%;
        padding: 0;
        display:flex;
    }

    .navbar .navbar-links ul li {
        width: 50%;
        margin:0;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }

    .navbar .navbar-links ul li:hover {
        color: var(--main-color);
        border-top: 0;
        border-bottom: 2px solid var(--main-color);
        padding-top: 18px;
    }

    /****** end Header mob ******/

    /****** Introduction mob ******/

    .introduction {
        padding: 0 8px;
        margin: 0;
    }

    .introduction h1 {
        margin:0;
        padding-bottom: 10px;
        font-size: 25px;
    }

    .introduction p {
        margin:0;
        padding-top: 5px;
    }

    /****** end Introduction mob ******/

    /****** Search Bar mob ******/

    .searchform {
        padding: 8px;
    }

    .searchform-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-top-right-radius: 15px;
        border-bottom-right-radius : 15px;
        border: none;
        background-color: var(--main-color);
    }

    .searchform-btn {
        display: none;
    }

    .icon-search{
        background-color: var(--main-color);
    }

    /****** end Searc Bar ******/

    /****** Filters mob ******/

    .filters {
        padding: 0 8px;
    }

    .filters h2 {
        font-size: 18px;
        margin: 0;
    }

    .filters-btn {
        padding: 10px 12px;
    }

    .filters-btn span {
        font-size: 15px;
    }

    /****** end Filters ******/

    /****** Search Result mob ******/

    .search-result {
        padding: 0 10px;
    }

    .search-result p {
        font-size: 15px;
    }

    .icon-info {
        padding: 6px 11px;
    }

    /****** end Search Result ******/

    .main-container {
            padding: 0%;
        }


    /****** Hébergements and Populaires mob ******/
    
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
        gap: 10px;
    }

    .hebergements-and-populaires section {
        border-radius: 0%;
        padding: 20px 10px;
    }

    /****** end Hébergements and Populaires ******/

    /****** Populaires mob ******/

    .populaires {
        margin: 0;
    }

    .section-title {
        font-size: 18px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card {
    margin-top: 15px;
   }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-title {
        padding: 5px;
    }
    .card-rating .fa-star {
        font-size: 13px;
    }

    /****** end Populaires ******/

    /****** Lodging mob ******/

    .hebergements-and-populaires .lodging {
        background: none;
    }

    .lodging {
        width: 100%;
    }

    .lodging-cards {
        display: flex;
        flex-direction: column;
    }

    .lodging-cards a {
        width: 100%;
    }

    .card-title, .card-subtitle, .showmore-link {
        font-size: 14px;
    }

    /****** Lodging mob ******/

    .activities {
        padding: 25px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .activities-list {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
    }

    .activity-link {
        width: 100%;
    }

    .activities h2 {
        font-size: 18px;
    }

    .activities img {
        height: 150px;
    }

    .activity-to-do h3 {
        font-size: 13px;
        margin: 15px 15px;
    }

    /****** end Lodging ******/

    /****** Footer mob ******/

    Footer {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        margin-top: 25px;
    }

    .footer-link {
        margin-bottom: 20px;
    }

    .footer-link h2 {
        margin-top: 25px; 
        margin-bottom: 5px;
    }

    .footer-link ul {
        margin: 0;
    }

    .footer-link ul li {
        padding: 10px 0 0;
        font-size: 15px;
    }

    /****** end footer mob ******/
    
}